
@font-face {
  font-family: 'Gilroy';
  font-weight: normal;
  font-style: normal; 
  src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
       url('./fonts/Gilroy-Regular.woff') format('woff');   
}

@font-face {
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal; 
  src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
       url('./fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal; 
  src: url('./fonts/Gilroy-SemiBold.woff2') format('woff2'),
       url('./fonts/Gilroy-SemiBold.woff') format('woff');
}

@font-face{
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal; 
  src: url('./fonts/Gilroy-Medium.woff2') format('woff2'),
       url('./fonts/Gilroy-Medium.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  background-color: #F6F6F6;
  margin: 0 auto;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

.page-header {
  /*max-width: 1256px;*/
  max-width: 1146px;
  max-height: 746px;
  margin: 0 auto;
}

.nav-container {
  position: relative;
  display: flex;
  padding-top: 39px;
}

.nav-container::after {
  content:"";
  position: absolute;
  background: url(./img/dog_main.png) right top no-repeat;
  width: 718px;
  height: 713px;
  right: 0;
  top: 0;
  z-index:-1;
}

.nav {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav__list {
  /*margin-left: 110px;*/
  padding: 0px;
}

.nav__link{
  font-weight: 600;
  color: #242424;
  text-decoration: none;  
}

.nav__list li:nth-child(2){
  margin-left: 32px;
}

.nav__list li:nth-child(3){
  margin-left: 194px;
}

.nav__list li:last-child{
  margin-left: 31px;
}

.nav__item,
.nav-social-networks__item{
  display:inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  max-height: 49px;
}

.nav-social-networks {
  margin-left:289px; 
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-social-networks__list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav-social-networks__list li:last-child{
  margin-left: 28px;
}

.nav-social-network__img circle{
  stroke: #ffffff;
}

.nav-social-network__img path{
  fill: #ffffff;
}

.our-purpose {
  /*max-width: 1256px;*/
  max-width: 1146px;
  margin: 0 auto;
}

.our-purpose__container {
  position: relative;
  padding-bottom: 272px;
}

.our-purpose__container::after {
  content:"";
  position: absolute;
  background: url(./img/text_main.png) left no-repeat;
  width: 772px;
  height: 484px;
  left: -110px;  
  top: 174px;
  z-index:-1;
}

.our-purpose__title {
  font-weight: 700;
  font-size: 72px;
  padding: 0px;
  margin-bottom: 0px;
}

.our-purpose__title--small {
  margin: 2px 0px 0px 0px;
  font-weight: 300;
  font-size: 16px;
  color: #6B6B6B;
}

.our-purpose__purpose{
  margin: 12px 0px 0px 0px;
  max-width: 659px;
  min-width: 158px;
  font-weight: 600;
  line-height: 140%;
  color: #474747;  
}

.our-purpose__content{
  position: relative;
  max-width: 428px;
  min-width: 204px;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  color: #C78100;
  margin: 40px 0px 49px 0px;  
}

.our-purpose__content::after {
  content:"";
  position: absolute;
  background: url(./img/cat_main.png) no-repeat;
  width: 483px;
  height: 469px;
  left: 497px;  
  top: 130px;
  z-index: 9999;
}

.our_purpose__help {  
 margin-top: 47px;
}

.help__link {
  background-color: #FBC832;
  font-size: 20px;
  color: #000000;  
  padding: 10px 33px;
  border-radius: 58px;
  text-decoration: none;
}

.intro {  
  background-color: #ffffff;
  padding: 55px 0 75px 0;
}

.intro__container {
  display: flex;
  align-items: center;
  max-width: 1146px;
  margin: 0 auto;
}

.image-block {
  width: 44%;
  position: relative;
}

.image-block::before {
  content: '';
  width: 50vw;
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  background-color: #FFC41E;
}

.image-block__main-img {
  position: relative;
}

.image-block__main-img::after {
  background: url(./img/intro-img_dog.png) no-repeat center;
  background-size: contain; 
}

.image-block__minor-img {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -3.8%;
  right: -5.5%;
  width: 49.14%;
}

.image-block__minor-img::after {
  background: url(./img/intro-img_cat.png) no-repeat center;
  background-size: contain;
}

.circle-img {
  border-radius: 50%; 
  overflow: hidden;
  border: 28px solid #FFC41E;  
  margin-left: -28px;
}

.circle-img--minor {
  border: 8px solid #EEBF3A;
}

.circle-img::after {
  content: '';
  display: block;
  padding-bottom: 100%;
  height: 0;  
}

.intro__text-block {
  max-width: 466px;
  padding: 0;
  margin: 74px 0px 62px 94px;
}

.text-block__titile {
  margin: 0px 0px 28px 0px;
  text-align: center;
  color: #C78100;
}

.text-block__text {
 line-height: 140%;
 margin: 20px 0px 0px 0px;
 padding: 0px;
}

.help-container{
  max-width: 1146px;
  margin: 0px auto;
}

.help__title {
  margin: 80px auto 47px auto;
  font-weight: 300;
  font-size: 28px;
  color: #242424;
  text-align: center;
}

.help__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 240px;
}

.item-help {
  padding: 8px;
  max-width: 150px;  
}

.item-help_icon{
  margin: 0px auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid #FFC41E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-help__text {
  margin: 24px auto 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.section-start-icon img {
 padding: 0px 58px 0px 58px; 
 background-color: #F6F6F6;
}

.section-start-icon {
  margin-top: 79px;
  margin-bottom: 68.62px;
  display: flex;
  align-items: center;
  text-align: center;
}

.section-start-icon::before, 
.section-start-icon::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #EEBF3A;
}

.section-start-icon::before {
  margin-right: .25em;
} 
.section-start-icon::after {
  margin-left: .25em;
}

.take-home {
  margin: 0 auto;
}

.take-home-block__container{
  max-width: 1146px;
  margin: 0 auto;  
  border: 1px solid green;
}

.take-home-block__title{
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
}

.take-home__block {
  display: inline-block;
  max-width: 389px;
}

.take-home__block--left {
  margin-left: 174px;
  margin-right: 97px;
  max-width: 389px;
}

.footer-nav__item {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;
  font-size: 14px;
  font-weight: 600;
}

.footer-nav__list li:nth-child(6){
  margin-left: 82px;
  margin-right: 42px;
}

.copyright{
  box-sizing: content-box;
  margin: 24px auto 16px auto;
  text-align: center;
}